{{template "head" .}}
<form hx-post="/api/document" hx-trigger="keydown[keyCode === 83 && (ctrlKey || metaKey)]" hx-ext="json-enc" class="flex flex-col h-full">
<header hx-boost="true" class="flex flex-wrap flex-shrink-0 min-h-8 mx-8 py-1 justify-center md:justify-between items-center bg-primary gap-4">
{{template "logo" .}}
<div class="flex flex-wrap items-center justify-center gap-4">
<input type="password" name="password" placeholder="Password (optional)" class="bg-secondary border-none focus:outline-none focus:ring-0 text-primary placeholder-secondary">
<select name="expires" class="bg-secondary border-none focus:outline-none focus:ring-0 text-primary">
<option value="never">Never</option>
<option value="1d">1 Day</option>
<option value="7d">7 Days</option>
<option value="30d" selected>30 Days</option>
</select>
<button hx-post="/api/document" class="fill-primary m-2 opacity-60 hover:opacity-100 hover:cursor-pointer">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="34px" height="34px">
<path d="M17.6 3.6c-.4-.4-.9-.6-1.4-.6H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V7.8c0-.5-.2-1-.6-1.4l-2.8-2.8zM12 19c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm1-10H7c-1.1 0-2-.9-2-2s.9-2 2-2h6c1.1 0 2 .9 2 2s-.9 2-2 2z"></path>
</svg>
</button>
</div>
</header>
<main class="flex-grow">
<textarea class="w-full h-[calc(100vh-7rem)] px-6 py-4 resize-none bg-secondary text-primary focus:outline-none focus:ring-0 focus:border-none placeholder-secondary" id="editor" name="content" placeholder="Write or paste, save and share the link..."></textarea>
</main>
</form>
{{template "footer" .}}
<script>
document.addEventListener("keydown", (e) => {
  if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
    e.preventDefault();
    return
  }
}, false);
</script>
{{template "scripts" .}}
</body>
</html>
